.w-dep {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #E6E6E6;
  min-height: 25px;
  font-size: 13px;
  .left {
    min-width: 80px;
    font-weight: 700;
    color: #0078D4;
    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  }
  .right {
    width: 100%;
    .icon {
      margin-left: 5px;
    }
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

}
.activeHover {
  background-color: #f2f3f5;
}