.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px auto 20px auto;
  height: 40px;
  border-radius: 5px;
}

.doubleButton {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 10px auto 20px auto;
  .baseButton {
    color: #fff;
    background-color: #0078D4;
    width: 48%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}